<section class="showcase">
  <div class="showcase-content">
    <h1>Bet NFL games with data</h1>
    <p>
      Our free tools will help you make informed decisions betting NFL games.
    </p>

    <button class="btn btn-lg button header-buttons" routerLink="/signup">
      Download NFL E-Book - It's Free
    </button>
  </div>
  <div class="showcase-image">
    <img
      class="header-image"
      src="../../../assets/adrian-curiel-KgYazRO3l8A-unsplash.jpg"
      alt=""
    />
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item">
      <p>What is NFL Odds Comparison?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          The 2023 NFl season is here, meaning its time to start making money
          betting on the NFL. But most of the basic tools are behind a pay wall.
          Therefore that is why we have created these tools to help you make
          informed decisions on your all season for free.
        </p>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md features-title">NFL E-Book</p>
          <p class="bullet-points">
            We have put to geter a comprehensive E-book for the 2023 NFL season.
            It inclueds things like team by team review, off season analysis,
            season outlook, season award, vagas odds and prediction, to help you
            make informed betting desicons this season.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md features-title">NFL Oddsboard</p>
          <p class="bullet-points">
            Access our NFL Odds board for free, we cover Moneyline, Totals and
            Spreads. We have data from all the major sport books, so you can
            shop for favourable lines and compare odds across major sport books
          </p>
        </div>
      </div>
      <button class="btn btn-block button" routerLink="/signup">
        Download NFL E-Book - It's Free
      </button>
    </div>
  </div>
</section>
